
{% extends "layout.html" %}
{% block content %}
  <head>
  <meta name="viewport" content="initial-scale=1.0, width=device-width" />
  <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js "type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js" type="text/javascript" charset="utf-8"></script>
        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
  </head>
  <div class="map" id="mapContainer"></div>
  <script>
    // Initialize the platform object:
    var platform = new H.service.Platform({'apikey': '{{api_key}}'});

    const lat = {{latitude}};
	const lng = {{longitude}};

// Obtain the default map types from the platform object
	var defaultLayers = platform.createDefaultLayers();

// Instantiate (and display) a map object:
var map = new H.Map(
    document.getElementById('mapContainer'),
    defaultLayers.vector.normal.map,
    {
      zoom: 10,
      center: { lat: lat, lng: lng }
    });

    // Create the default UI:
    var ui = H.ui.UI.createDefault(map, defaultLayers);

	const marker = new H.map.Marker({lat: lat, lng: lng});
	map.addObject(marker);
  </script>
  <p>Mapping uses <a href="https://developer.here.com/documentation/maps/3.1.26.0/dev_guide/index.html">
        "HERE Maps API for JavaScript"</a>
  </p>
{% endblock %}


