{% extends "layout.html" %}
{% block content %}
   <div class="about">
      <h1>Warning! API Required to Display Maps</h1>
      <p>Please configure a mapping API in the "config.json" file.</p>
      <p>For information on how to obtain the developers mapping API used, see:</P>
        <a href="https://developer.here.com/documentation/maps/3.1.26.0/dev_guide/index.html">
        HERE Maps API for JavaScript</a>
   </div>
{% endblock %}